<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devin.com.picturepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".activity.PictureGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PicturePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PictureCropActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>